.gif-picker-dropdown__menu {
  width: 270px;
  position: absolute;
  display: inline-block;

  @include standard-panel;
  background: var(--foreground-color);
  position: absolute;
  margin-top: 5px;
  z-index: 20000;

  padding: 10px;


  .gif-picker-dropdown__menu__search {
    display: flex;

    input {
      width: 100%;
      font-size: 14px;
      font-weight: 400;
      padding: 7px 9px;
      display: block;
      background: var(--background-color);
      color: var(--primary-text-color);
      border: 1px solid var(--brand-color--faint);
      border-radius: 999999px;
    }

    .button {
      margin-left: 10px;
      .fa {
        margin-right: 0;
      }
    }
  }

  .gif-picker-dropdown__menu__list {
    white-space: nowrap;
    overflow-x: auto;
    .gif-picker-dropdown__menu__entry {
      display: inline-block;
      width: 75%;
      height: 150px;
      margin-right: 10px;
    }
  }

  .gif-picker-dropdown__menu__entry {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;

    position: relative;
    background-size: 0;
    overflow: hidden;
    border-radius: 5px;

    &::before {
      z-index: -1;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      filter: blur(5px);
      background-image: inherit;
      background-size: cover;
      background-position: center;
    }

    .gif-picker-dropdown__menu__entry__gif {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin: auto;
    }

    .gif-picker-dropdown__menu__entry__icon {
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }


  .gif-picker-dropdown__menu__actions {
    display: flex;
    .button:not(:last-of-type) {
      margin-right: 5px;
    }

    .gif-picker-dropdown__menu__actions__choose {
      width: 100%;
    }

  }
}