.thumb-navigation {
  margin-bottom: env(safe-area-inset-bottom); /* iOS PWA */
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #fff;

  &::-webkit-scrollbar {
    display: none;
  }
}
