.primary-navigation__wrapper {
  .primary-navigation {
    flex-direction: column;

    > button,
    > .btn {
      justify-content: flex-start;
      font-size: 19px;
      font-weight: bold;

      .svg-icon {
        width: 26px;
        height: 26px;
        margin-right: 10px;

        svg.icon-tabler {
          stroke-width: 1.5px;
        }
      }

      &::before {
        left: 0;
        border-radius: 999px;
      }
    }

    &__icon {
      margin-right: 5px;
    }

    hr {
      border: 0;
      height: 1px;
      width: 100%;
      background: hsla(var(--primary-text-color_hsl), 0.12);
      max-width: 230px;
      text-align: left;
      margin: 10px 0;
    }
  }
}

.thumb-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  display: flex;
  background: var(--foreground-color);
  justify-content: space-around;
  border-top: 1px solid hsla(var(--primary-text-color_hsl), 0.2);
  border-radius: 0;
  z-index: 999;

  &__link {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: 20px;

    span {
      display: none;
    }

    .svg-icon {
      width: 24px;
      height: 24px;

      svg {
        stroke-width: 1px;
      }

      &--active {
        svg.icon-tabler-search {
          stroke-width: 2px;
        }

        svg.icon-tabler-bell,
        svg.icon-tabler-messages {
          path:nth-child(2) {
            fill: var(--primary-text-color);
          }
        }
      }
    }

    .icon-with-counter__counter {
      right: -8px;
    }
  }

  @media (min-width: 895px) {
    display: none;
  }
}

.sub-navigation {
  position: sticky;
  top: 50px;
  left: 0;
  right: 0;
  width: 100%;
  height: 30px;
  padding: 5px;
  display: flex;
  color: var(--primary-text-color--faint);
  background: var(--foreground-color);
  justify-content: space-around;
  border-bottom: 1px solid hsla(var(--primary-text-color_hsl), 0.2);
  border-radius: 0;
  z-index: 999;

  &__back {
    margin-right: auto;
    background: transparent;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-text-color--faint);

    .svg-icon {
      margin-right: 7px;
    }
  }

  &__message {
    position: absolute;
    align-self: center;
    justify-self: center;
    font-weight: bold;
  }

  @media screen and (min-width: 895px) {
    display: none;
  }
}
