// This is a file dedicated to fixing the css we broke by introducing the hover
// card and `overflow:visible` on drawer.scss line 23. If we ever figure out how
// to pop the hover card out while keeping `overflow:hidden`, feel free to delete
// this entire file.

button.column-header__button.active {
  border-radius: 0 10px 0 0;
}

.column-back-button.column-back-button--slim-button {
  border-radius: 0 10px 0 0;
}

.detailed-status__wrapper .detailed-status__action-bar {
  border-radius: 0;
}

.slist .item-list .column-link {
  background-color: transparent;
  border-top: 1px solid var(--brand-color--med);
}
