/node_modules/
/tmp/
/build/
/coverage/
/.eslintcache
/.env
/deploy.sh
/.vs/
yarn-error.log*

/static/packs
/static/index.html
/static/instance/**
!/static/instance/**.example
!/static/instance/**.example.*
!/static/instance/**.example/**
