/node_modules/
/tmp/
/build/
/coverage/
/.coverage/
/.eslintcache
/.env
/deploy.sh
/.vs/
yarn-error.log*
/junit.xml

/static/
/static-test/
/public/
/dist/

.idea
.DS_Store

# Custom build files
/custom/**/*
!/custom/*
/custom/*.*
!/custom/.gitkeep
!/custom/**/.gitkeep

# surge.sh
/CNAME
/AUTH
/CORS
/ROUTER
