.crypto-address {
  padding: 20px;
  display: flex;
  flex-direction: column;

  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
  }

  &__title {
    font-weight: bold;
  }

  &__icon {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 24px;
    margin-right: 10px;

    img {
      width: 100%;
    }
  }

  &__actions {
    margin-left: auto;
    padding-left: 10px;

    a {
      color: var(--primary-text-color--faint);
    }
  }

  &__note {
    margin-bottom: 10px;
  }

  &__address {
    margin-top: auto;
    display: flex;

    input {
      flex: 1;
    }
  }
}

.site-wallet {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
