.detailed-status__action-bar-dropdown {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.detailed-status {
  background: var(--brand-color-faint);
  padding: 14px 10px;

  &--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    .status__content,
    .detailed-status__meta {
      flex: 100%;
    }
  }

  .status__content {
    font-size: 19px;
    line-height: 24px;

    .emojione {
      width: 24px;
      height: 24px;
      margin: -1px 0 0;
    }

    .status__content__spoiler-link {
      line-height: 24px;
      margin: -1px 0 0;
    }
  }

  .video-player {
    margin-top: 8px;
  }
}

.detailed-status__meta {
  margin-top: 15px;
  color: var(--primary-text-color-faint);
  font-size: 14px;
  line-height: 18px;
  display: flex;
}

.detailed-status__action-bar {
  background: var(--brand-color-faint);
  border-top: 1px solid var(--brand-color-med);
  border-bottom: 1px solid var(--brand-color-med);
  display: flex;
  flex-direction: row;
}

.detailed-status__link {
  color: var(--primary-text-color-faint);
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
}

.detailed-status__favorites,
.detailed-status__reblogs {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  margin-left: 6px;
}

.detailed-status__button {
  padding: 10px 0;

  .icon-button {
    display: inline-flex;
    align-items: center;

    .icon_button__text {
      font-size: 14px;
      padding-left: 3px;
      transform: translateY(-1px);
    }
  }
}

.detailed-status__wrapper {
  position: relative;
}
