.component-enlistment {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    backdrop-filter: blur(5px);

    display: flex;
    align-items: center;
    justify-content: center;

    & > section {
        width: 100%;
        max-width: 700px;
        border-radius: 0.75rem;

        .enlistment__step0 {
            max-width: 500px;
            .enlisted__step0__username {
                background-color: rgb(var(--color-primary-600) / var(--tw-bg-opacity));
            }

        }

        .enlistment__bar {
            background-color: rgb(var(--color-primary-600) / var(--tw-bg-opacity));
            border-bottom-left-radius: 0.75rem;
            border-bottom-right-radius: 0.75rem;

            .circles {
                & > div {
                    $size: 14px;
                    width: $size;
                    height: $size;
                    border-radius: 100%;
                }
            }
        }


    }
}