.group-form {
  @include standard-panel;
  padding: 20px;

  &,
  div {
    box-sizing: border-box;
    float: left;
    width: 100%;
  }

  input[type=text],
  textarea {
    &.standard {
      width: 100%;
      margin: 0 0 10px;
    }
  }

  textarea {
    float: left;
    height: 88px;
  }

  .group-form__file-label {
    @include font-size(12);
    @include font-weight(light);
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    float: left;
    height: 20px;
    padding: 3px 0 0 33px;
    color: var(--primary-text-color--faint);
    background-repeat: no-repeat;
    background-image: url('../images/sprite-post-functions.png');
    background-size: 100px 1200px;

    &:hover {
      color: var(--brand-color);
      background-position: 0 -100px;
    }

    &.group-form__file-label--selected {
      background-position: 0 -100px;
      color: var(--brand-color);
    }
  }

  .group-form__file {
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }
  button { float: right; }
}
