.display-name__account {
  position: relative;
}

.profile-hover-card {
  @include standard-panel;
  position: absolute;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
  z-index: 998;
  opacity: 1;
  transition-delay: 1s;
  left: -10px;

  @media(min-width: 750px) {
    left: -80px;
  }

  .profile-hover-card__container {
    position: relative;
  }

  .profile-hover-card__action-button {
    z-index: 999;
    position: absolute;
    right: 20px;
    top: 120px;
  }

  .user-panel {
    box-shadow: none;

    .user-panel-stats-item a strong {
      text-decoration: none;
    }
  }

  .profile-hover-card__badges {
    margin: 0 20px 20px;
    display: flex;

    .badge, .relationship-tag {
      padding: 2px 4px;
      margin-right: 5px;
      border-radius: 3px;
      font-size: 11px;
    }
  }

  .profile-hover-card__bio {
    margin: 0 20px 20px;
  }
}
