.timeline-queue-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-height: 30px;
  position: sticky;
  top: 60px;
  margin: 8px auto;
  background-color: var(--brand-color);
  color: #fff;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: var(--brand-color--faint);
  border-radius: 100px;
  transition: max-height 150ms ease;
  overflow: hidden;
  opacity: 1;
  left: 0;
  right: 0;
  padding: 0 10px;
  z-index: 999;

  .svg-icon {
    margin-right: 5px;
  }

  &.hidden {
    max-height: 0;
    opacity: 0;
    margin: 0;
  }

  &__btn {
    display: flex;
    line-height: 46px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    white-space: nowrap;
    align-items: center;
    justify-content: center;

    span {
      height: 46px;
    }
  }
}
