<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--server-generated-meta-->
    <link rel="icon" type="image/png" href="/favicon.png">
  </head>
  <body class="app-body">
    <noscript>To use Soapbox, please enable JavaScript.</noscript>
    <div class="app-holder" id="soapbox"></div>
  </body>
</html>
