<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="referrer" content="same-origin" />
    <link href="/manifest.json" rel="manifest">
    <!--server-generated-meta-->
    <link rel="icon" type="image/png" href="/favicon.png">
    <%= snippets %>
  </head>
  <body class="theme-mode-light no-reduce-motion">
    <div id="soapbox" class="h-full">
      <div class="loading-indicator-wrapper">
        <div class="loading-indicator">
          <div class="loading-indicator__container">
            <div class="loading-indicator__figure"></div>
          </div>
        </div>
      </div>
    </div>
    <noscript>To use this website, please enable JavaScript.</noscript>
  </body>
</html>
