.modal-root {
  position: relative;
  transition: opacity 0.3s linear;
  will-change: opacity;
  z-index: 9999;
}

.modal-root__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($base-overlay-background, 0.9);
}

.modal-root__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  z-index: 9999;
  pointer-events: none;
  user-select: none;
}

.modal-root__modal {
  pointer-events: auto;
  display: flex;
  z-index: 9999;
  max-height: 100%;
  overflow-y: hidden;
}

.video-modal {
  max-width: 100vw;
  max-height: 100vh;
  position: relative;
}

.media-modal {
  width: 100%;
  height: 100%;
  position: relative;

  .extended-video-player {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    video {
      max-width: $media-modal-media-max-width;
      max-height: $media-modal-media-max-height;
    }
  }
}

.media-modal__closer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.media-modal__navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: opacity 0.3s linear;
  will-change: opacity;

  * {
    pointer-events: auto;
  }

  &.media-modal__navigation--hidden {
    opacity: 0;

    * {
      pointer-events: none;
    }
  }
}

.media-modal__nav {
  background: rgba($base-overlay-background, 0.5);
  box-sizing: border-box;
  border: 0;
  color: $primary-text-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 24px;
  height: 20vmax;
  margin: auto 0;
  padding: 30px 15px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.media-modal__nav--left {
  left: 0;
}

.media-modal__nav--right {
  right: 0;
}

.media-modal__pagination {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 20px;
  pointer-events: none;
}

.media-modal__meta {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  pointer-events: none;

  &--shifted {
    bottom: 62px;
  }

  a {
    text-decoration: none;
    font-weight: 500;
    color: $ui-secondary-color;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

.media-modal__page-dot {
  display: inline-block;
}

.media-modal__button {
  background-color: $primary-text-color;
  height: 12px;
  width: 12px;
  border-radius: 6px;
  margin: 10px;
  padding: 0;
  border: 0;
  font-size: 0;
}

.media-modal__button--active {
  background-color: $highlight-text-color;
}

.media-modal__close {
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 100;
}

.onboarding-modal,
.error-modal,
.embed-modal {
  background: $ui-secondary-color;
  color: $inverted-text-color;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.embed-modal {
  max-width: 420px;
}

.error-modal__body {
  height: 80vh;
  width: 80vw;
  max-width: 520px;
  max-height: 420px;
  position: relative;

  & > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 25px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 0;
    user-select: text;
  }
}

.error-modal__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.onboarding-modal__paginator,
.error-modal__footer {
  flex: 0 0 auto;
  background: darken($ui-secondary-color, 8%);
  display: flex;
  padding: 25px;

  & > div {
    min-width: 33px;
  }

  .onboarding-modal__nav,
  .error-modal__nav {
    color: $lighter-text-color;
    border: 0;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 25px;
    line-height: inherit;
    height: auto;
    margin: -10px;
    border-radius: 4px;
    background-color: transparent;

    &:hover,
    &:focus,
    &:active {
      color: darken($lighter-text-color, 4%);
      background-color: darken($ui-secondary-color, 16%);
    }

    &.onboarding-modal__done,
    &.onboarding-modal__next {
      color: $inverted-text-color;

      &:hover,
      &:focus,
      &:active {
        color: lighten($inverted-text-color, 4%);
      }
    }
  }
}

.error-modal__footer {
  justify-content: center;
}

.display-case {
  text-align: center;
  font-size: 15px;
  margin-bottom: 15px;

  &__label {
    font-weight: 500;
    color: $inverted-text-color;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 12px;
  }

  &__case {
    background: $ui-base-color;
    color: $secondary-text-color;
    font-weight: 500;
    padding: 10px;
    border-radius: 4px;
  }
}

.onboard-sliders {
  display: inline-block;
  max-width: 30px;
  max-height: auto;
  margin-left: 10px;
}

.boost-modal,
.confirmation-modal,
.report-modal,
.actions-modal,
.mute-modal {
  position: relative;
  flex-direction: column;
  overflow: hidden;
  width: 480px;
  max-width: 90vw;
  border-radius: 4px;
  border: 1px solid $gab-placeholder-accent;
  color: $gab-secondary-text;
  background: $gab-background-container;

  .status__display-name {
    display: block;
    max-width: 100%;
    padding-right: 25px;
  }

  .status__avatar {
    height: 28px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 48px;
  }

  .status__content__spoiler-link {
    color: lighten($secondary-text-color, 8%);
  }
}

.actions-modal {
  .status {
    background: $white;
    border-bottom-color: $ui-secondary-color;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .dropdown-menu__separator {
    display: block;
    margin: 10px;
    height: 1px;
    background: $gab-background-base;
  }
}

.boost-modal__container {
  overflow-x: scroll;
  padding: 10px;

  .status {
    user-select: text;
    border-bottom: 0;
  }
}

.boost-modal__action-bar,
.confirmation-modal__action-bar,
.mute-modal__action-bar {
  display: flex;
  justify-content: space-between;
  background: $ui-secondary-color;
  padding: 10px;
  line-height: 36px;

  & > div {
    flex: 1 1 auto;
    text-align: right;
    color: $lighter-text-color;
    padding-right: 10px;
  }

  .button {
    flex: 0 0 auto;
  }
}

.boost-modal__status-header {
  font-size: 15px;
}

.boost-modal__status-time {
  float: right;
  font-size: 14px;
}

.mute-modal {
  line-height: 24px;
}

.mute-modal .react-toggle {
  vertical-align: middle;
}

.report-modal {
  width: 90vw;
  max-width: 700px;
}

.report-modal__container {
  display: flex;
  border-top: 1px solid $ui-secondary-color;

  @media screen and (max-width: 480px) {
    flex-wrap: wrap;
    overflow-y: auto;
  }
}

.report-modal__statuses,
.report-modal__comment {
  box-sizing: border-box;
  width: 50%;

  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.report-modal__statuses {
  flex: 1 1 auto;
  min-height: 20vh;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;

  .status__content a {
    color: $highlight-text-color;
  }

  .status__content,
  .status__content p {
    color: $gab-secondary-text;
  }

  @media screen and (max-width: 480px) {
    max-height: 10vh;
  }
}

.report-modal__comment {
  padding: 20px;
  border-right: 1px solid $ui-secondary-color;
  max-width: 320px;

  p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .setting-text {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    color: $inverted-text-color;
    background: $white;
    padding: 10px;
    font-family: inherit;
    font-size: 14px;
    resize: vertical;
    border: 0;
    outline: 0;
    border-radius: 4px;
    border: 1px solid $ui-secondary-color;
    margin-bottom: 20px;

    &:focus {
      border: 1px solid darken($ui-secondary-color, 8%);
    }
  }

  .setting-toggle {
    margin-top: 20px;
    margin-bottom: 24px;

    &__label {
      color: $inverted-text-color;
      font-size: 14px;
    }
  }

  @media screen and (max-width: 480px) {
    padding: 10px;
    max-width: 100%;
    order: 2;

    .setting-toggle {
      margin-bottom: 4px;
    }
  }
}

.actions-modal {
  width: calc(100% - 72px);
  margin: 35px;

  .status {
    overflow-y: auto;
    max-height: 300px;
  }

  .actions-modal__item-label {font-weight: 500;}

  ul {
    overflow-y: auto;
    flex-shrink: 0;
    max-height: calc(100vh - 147px);

    // NOTE - not sure what this is yet, leaving alone for now until I find out.
    &.with-status {max-height: calc(80vh - 75px);}

    li:empty {margin: 0;}

    li:not(:empty) {
      &:first-of-type {margin: 10px 0 0;}
      &:last-of-type {margin: 0 0 10px;}

      a {
        display: flex;
        align-items: center;
        padding: 13px 10px 12px;
        @inclide font-size(14);
        color: $gab-secondary-text;
        text-decoration: none;

        &,
        button {
          transition: none;
        }

        &.active,
        &:hover,
        &:active,
        &:focus {
          &,
          button {
            background: $gab-background-base;
            color: $gab-text-highlight;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
          }
        }
        button:first-child {margin-right: 10px;}
      }
    }
  }
}

.confirmation-modal__action-bar,
.mute-modal__action-bar {
  .confirmation-modal__secondary-button,
  .confirmation-modal__cancel-button,
  .mute-modal__cancel-button {
    background-color: transparent;
    color: $lighter-text-color;
    font-size: 14px;
    font-weight: 500;

    &:hover,
    &:focus,
    &:active {
      color: darken($lighter-text-color, 4%);
    }
  }

  .confirmation-modal__secondary-button {
    flex-shrink: 1;
  }
}

.confirmation-modal__container,
.mute-modal__container,
.report-modal__target {
  padding: 30px;
  font-size: 16px;
  text-align: center;

  strong {
    font-weight: 500;

    @each $lang in $cjk-langs {
      &:lang(#{$lang}) {
        font-weight: 700;
      }
    }
  }
}

.report-modal__target {
  padding: 20px;

  .media-modal__close {
    top: 19px;
    right: 15px;
  }
}

.modal-layout {
  background: $ui-base-color url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 234.80078 31.757813" width="234.80078" height="31.757812"><path d="M19.599609 0c-1.05 0-2.10039.375-2.90039 1.125L0 16.925781v14.832031h234.80078V17.025391l-16.5-15.900391c-1.6-1.5-4.20078-1.5-5.80078 0l-13.80078 13.099609c-1.6 1.5-4.19883 1.5-5.79883 0L179.09961 1.125c-1.6-1.5-4.19883-1.5-5.79883 0L159.5 14.224609c-1.6 1.5-4.20078 1.5-5.80078 0L139.90039 1.125c-1.6-1.5-4.20078-1.5-5.80078 0l-13.79883 13.099609c-1.6 1.5-4.20078 1.5-5.80078 0L100.69922 1.125c-1.600001-1.5-4.198829-1.5-5.798829 0l-13.59961 13.099609c-1.6 1.5-4.200781 1.5-5.800781 0L61.699219 1.125c-1.6-1.5-4.198828-1.5-5.798828 0L42.099609 14.224609c-1.6 1.5-4.198828 1.5-5.798828 0L22.5 1.125C21.7.375 20.649609 0 19.599609 0z" fill="#{hex-color($ui-base-lighter-color)}"/></svg>') repeat-x bottom fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .account-header {
    margin-top: 0;
  }
}
