[data-reach-menu-popover] {
  @apply origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white dark:bg-gray-900 dark:ring-2 dark:ring-primary-700 focus:outline-none;

  z-index: 1003;
}

[data-reach-menu-button] {
  @apply focus:ring-primary-500 focus:ring-2 focus:ring-offset-2;
}

div:focus[data-reach-menu-list] {
  outline: none;
}

[data-reach-menu-item][data-selected] {
  @apply bg-gray-100 dark:bg-gray-800;
}

[data-reach-menu-list] {
  @apply py-1;
}

[data-reach-menu-item],
[data-reach-menu-link] {
  @apply block px-4 py-2.5 text-sm text-gray-700 dark:text-gray-500 cursor-pointer;
}

[data-reach-menu-link] {
  @apply hover:bg-gray-100 dark:hover:bg-gray-800;
}

[data-reach-menu-item][data-disabled],
[data-reach-menu-link][data-disabled] {
  @apply opacity-25 cursor-default;
}

[data-reach-menu-popover] hr {
  @apply my-1 mx-2 border-t-2 border-gray-100 dark:border-gray-800;
}
