.emoji-react {
  display: inline-block;
  transition: 0.1s;

  &__emoji {
    img {
      width: 20px;
      height: 20px;
      filter: drop-shadow(2px 0 0 #fff); // FIXME: Use theme color
    }
  }

  &__count {
    display: none;
  }

  + .emoji-react {
    margin-right: -8px;
  }
}

.emoji-reacts {
  display: inline-flex;
  flex-direction: row-reverse;
}

.status-interaction-bar {
  margin-right: auto;
  min-height: 20px;
}

.emoji-reacts-container {
  display: inline-flex;
  margin-right: auto;

  &:hover {
    .emoji-react {
      margin: 0;

      &__count {
        display: inline;
      }
    }

    .emoji-reacts__count {
      display: none;
    }
  }
}

.emoji-reacts__count,
.emoji-react__count {
  font-size: 12px;
  font-weight: bold;
}

.emoji-react-selector {
  position: absolute;
  bottom: 100%;
  display: flex;
  background-color: #fff;
  padding: 8px;
  border-radius: 9999px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: 0.1s;

  &__emoji {
    display: block;
    padding: 0 2px;
    border: 0;
    background: transparent;

    img {
      width: 30px;
      height: 30px;
    }
  }
}

.detailed-status__button--favourite:hover {
  .emoji-react-selector {
    opacity: 1;
    pointer-events: all;
  }
}
